.App{
    padding: 20px;
    height: 100%;
    display: block;
    width: 70%;
    margin: auto; 
    background-color: white;
}

.App input{
    font-size: 24px;
    display: block;
    width: 80%;
    margin: auto;
    padding: 8px 0px 8px 16px;  
    outline: none;
    border: none;
    border: 1px solid lightgray;
    background-color: rgb(231, 231, 231);
}

.App input:focus{
    border-bottom: 2px solid rgb(41, 147, 209);
}